@media screen and (min-width: 768px) {
  .title {
    padding-top: 1.5rem;
    padding-left: 3rem;
  }

  .row {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 5rem auto;
  }

  .button-container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
  }

  table {
    border: 1px solid black;
    width: 50%;
    height: 300px;
    margin: auto;
    margin-top: 3rem;
  }

  /* .table-title {
    text-align: center;
    padding-top: 6rem;
    font-family: 'Overpass', sans-serif;
  } */
}

@media screen and (min-width: 1024px) {
  .title {
    padding-top: 1.5rem;
    padding-left: 5rem;
  }
}
