@media screen and (max-width: 320px) {
  .introduction {
    margin-top: 0;
    padding-top: 3rem;
  }

  h2 {
    font-size: 1rem;
  }

  label {
    font-size: 0.9rem;
  }

  .username-label,
  .password-label,
  .register-link {
    font-size: 0.8rem;
  }

  table {
    height: 180px;
  }

  .modal-button-container {
    margin: 0;
    padding-top: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .title {
    padding-top: 1.5rem;
    padding-left: 3rem;
  }

  .row {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 5rem auto;
  }

  .button-container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
  }

  table {
    border: 1px solid black;
    width: 50%;
    height: 300px;
    margin: auto;
    margin-top: 2rem;
  }

  .modal {
    background-color: white;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    height: 250px;
    padding-top: 5rem;
    margin-top: -4rem;
  }

  .food-journal-title {
    font-size: 1.2rem;
    padding-top: 3rem;
    margin-bottom: -2rem;
    margin-left: 5.75rem;
  }

  input[type="search"] {
    width: 40%;
  }

  li,
  .exercise-item {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
    width: 60%;
    font-family: 'Overpass', sans-serif;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
  }

  img {
    width: 15%;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
  }

  .description {
    margin-left: -18rem;
    margin-bottom: -1.5rem;
  }

  .search {
    margin-bottom: 7rem;
  }

  .result-image {
    margin-bottom: 1.5rem;
  }

  .add {
    margin-right: -1.5rem;
  }

  .add-icon {
    font-size: 1.1rem;
  }

  h3 {
    margin-right: 6rem;
  }

  .workout-title {
    margin-left: 3.3rem;
  }

  .exercise-description {
    margin-left: 1rem;
    padding-bottom: 2rem;
  }

  .exercise-entry-description {
    margin-left: 1rem;
    padding-bottom: 0.5rem;
  }

  .submit-button {
    background-color: #16c79a;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-top: 5rem;
    border: none;
  }

  .login-container {
    width: 35%;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    padding-top: 1.5rem;
    padding-left: 5rem;
  }

  .food-journal-title {
    font-size: 1.2rem;
    padding-top: 3rem;
    margin-bottom: -2rem;
    margin-left: 7.75rem;
  }

  input[type="search"] {
    width: 30%;
  }

  li,
  .exercise-item {
    border-bottom: 1px solid black;
    width: 50%;
    font-family: 'Overpass', sans-serif;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
  }

  .add {
    margin-right: -2rem;
  }

  h3 {
    margin-right: 8rem;
  }

  .workout-title {
    margin-left: 5.1rem;
  }
}

@media screen and (min-width: 1025px) {
  .add {
    margin-left: auto;
    margin-bottom: -2rem;
    padding-left: 2rem;
    margin-right: -5.5rem;
    width: 20%;
  }

  h3 {
    margin-right: 12rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .top-navigation {
    display: flex;
    margin-right: 2rem;
    visibility: visible;
  }

  .top-navigation.hide {
    visibility: hidden;
  }

  .nav-links {
    margin-right: 3rem;
    padding-right: 7rem;
    margin-left: -8rem;
    font-size: 1.1rem;
  }

  .nav {
    color: white;
    font-family: 'Overpass', sans-serif;
    text-decoration: none;
  }

  .nav:hover {
    color: black;
  }

  .bottom-nav {
    visibility: hidden;
  }
}
