* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  background-color: #16c79a;
  height: 5rem;
}

.title {
  padding-top: 1.5rem;
  padding-left: 1rem;
}

h1 {
  margin: 0;
  color: white;
  font-size: 1.25rem;
  font-family: 'Chivo', sans-serif;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5rem auto;
}

.col-half {
  width: 40%;
}

input {
  width: 100%;
  border: #466bca 1px solid;
  border-radius: 0.25rem;
  height: 1.5rem;
  margin-top: 0.25rem;
}

select {
  width: 100%;
  border: #466bca 1px solid;
  border-radius: 0.25rem;
  height: 1.5rem;
  margin-top: 0.25rem;
}

label {
  font-family: 'Overpass', sans-serif;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.submit-button {
  background-color: #16c79a;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  border: none;
}

i {
  color: white;
}

.table-title {
  text-align: center;
  padding-top: 4rem;
  font-family: 'Overpass', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}

table {
  border: 1px solid black;
  width: 85%;
  height: 260px;
  margin: auto;
  margin-top: 1rem;
}

thead {
  background-color: #16c79a;
}

th {
  border-bottom: 1px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
}

.border-right {
  border-right: 1px solid black;
}

td {
  font-family: 'Overpass', sans-serif;
  text-align: center;
  width: 30%;
}

p {
  font-family: 'Overpass', sans-serif;
  margin-top: 1rem;
}

.modal-button-container {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.modal-button {
  background-color: #16c79a;
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
}

.modal {
  background-color: white;
  width: 76%;
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  padding-top: 4rem;
}

.utensils-icon,
.dumbbell-icon {
  font-size: 1.5rem;
  color: black;
}

.utensils-icon {
  padding-left: 2.2rem;
}

.dumbbell-icon {
  padding-left: 2.75rem;
}

.redirect-food-journal,
.redirect-workout-journal {
  color: black;
  text-decoration: none;
}

.redirect-food-journal:hover,
.redirect-workout-journal:hover {
  background-color: #16c79a;
}

.search {
  margin-bottom: 3rem;
}

.searchbar {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

input[type="search"] {
  width: 75%;
  border-radius: initial;
  margin-top: 0;
  height: 2rem;
  border: black 1px solid;
  margin-left: -1rem;
  padding-left: 0.25rem;
}

.search-button {
  border: none;
  background-color: transparent;
  margin-left: -3rem;
}

.search-icon {
  color: black;
  font-size: 1.2rem;
}

.food-journal-title {
  font-size: 1.1rem;
  font-family: 'Overpass', sans-serif;
  padding-top: 3rem;
  margin-bottom: -2rem;
  margin-left: 1.5rem;
}

ul {
  list-style: none;
}

li,
.exercise-item {
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
  width: 90%;
  font-family: 'Overpass', sans-serif;
  font-size: 0.9rem;
}

.result-image {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

img {
  object-fit: contain;
  width: 20%;
}

.description {
  margin-left: 5rem;
  margin-top: -4.75rem;
  margin-bottom: 0.5rem;
}

.add {
  margin-left: auto;
  margin-bottom: -2rem;
  padding-left: 2rem;
  width: 20%;
}

.add-item {
  background-color: transparent;
  border: none;
  padding-bottom: 3rem;
}

.add-icon {
  color: black;
}

.food-entries-list {
  margin-top: 5rem;
}

.entry-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h3 {
  margin-right: 2rem;
  font-size: 1rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
}

.view {
  color: #466bca;
}

.top-navigation {
  visibility: hidden;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-nav {
  background-color: #16c79a;
  display: flex;
  justify-content: space-around;
  height: 4rem;
  align-items: center;
}

.bottom-nav.hide {
  visibility: hidden;
}

.nav-food,
.nav-workout,
.calendar-icon,
.profile-icon {
  font-size: 2rem;
  color: black;
}

.search-result-container {
  margin-bottom: 6rem;
}

.workout-title {
  font-family: 'Overpass', sans-serif;
  font-size: 1.1rem;
  padding-top: 3rem;
  margin-left: 1.1rem;
}

.exercise-description {
  margin-bottom: -1.5rem;
}

.exercise-entry-description {
  margin-bottom: 0.5rem;
}

.entries-list {
  list-style: none;
  margin-top: 5rem;
}

.introduction {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  flex-flow: column;
  align-items: center;
}

.next-page {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #16c79a;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: 'Overpass', sans-serif;
  font-size: 1.25rem;
}

.next-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.login-container {
  width: 70%;
  background-color: #eeee;
  padding-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.login {
  padding-bottom: 1.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.user,
.password {
  margin: 0 0.5rem;
}

.register {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0.5rem 0;
  align-items: center;
}

.register-link {
  text-decoration: underline;
  font-family: 'Overpass', sans-serif;

  /* temporary no href yet */
}

.login-button {
  background-color: #16c79a;
  border: none;
  width: 5rem;
  height: 2rem;
  border-radius: 5%;
  color: white;
}

.username-label,
.password-label {
  font-size: 0.9rem;
}
