* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  background-color: #16c79a;
  height: 5rem;
}

.title {
  padding-top: 1.5rem;
  padding-left: 1rem;
}

h1 {
  margin: 0;
  color: white;
  font-size: 1.25rem;
  font-family: 'Chivo', sans-serif;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5rem auto;
}

.col-half {
  width: 40%;
}

input {
  width: 100%;
  border: #466bca 1px solid;
  border-radius: 0.25rem;
  height: 1.5rem;
  margin-top: 0.25rem;
}

select {
  width: 100%;
  border: #466bca 1px solid;
  border-radius: 0.25rem;
  height: 1.5rem;
  margin-top: 0.25rem;
}

label {
  font-family: 'Overpass', sans-serif;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.submit-button {
  background-color: #16c79a;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin-top: 5rem;
  border: none;
}

i {
  color: white;
}

.table-title {
  text-align: center;
  padding-top: 4rem;
  font-family: 'Overpass', sans-serif;
  font-size: 1.25rem;
}

table {
  border: 1px solid black;
  width: 85%;
  height: 260px;
  margin: auto;
  margin-top: 1rem;
}

thead {
  background-color: #16c79a;
}

th {
  border-bottom: 1px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Overpass', sans-serif;
}

.border-right {
  border-right: 1px solid black;
}

td {
  font-family: 'Overpass', sans-serif;
  text-align: center;
  width: 30%;
}

p {
  font-family: 'Overpass', sans-serif;
  margin-top: 1rem;
}

.modal-button-container {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.modal-button {
  background-color: #16c79a;
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
}

.modal {
  background-color: white;
  width: 76%;
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  padding-top: 4rem;
}

.fas.fa-utensils,
.fas.fa-dumbbell {
  font-size: 1.5rem;
  color: black;
}

.fas.fa-utensils {
  padding-left: 2.2rem;
}

.fas.fa-dumbbell {
  padding-left: 2.75rem;
}

.redirect-food-journal {
  color: black;
  text-decoration: none;
}

.redirect-food-journal:hover {
  background-color: #16c79a;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

input[type="search"] {
  width: 75%;
  border-radius: initial;
  margin-top: 0;
  height: 2rem;
  border: black 1px solid;
}

.search-button {
  border: none;
  background-color: transparent;
  margin-left: -3rem;
}

.fas.fa-search {
  color: black;
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
  font-family: 'Overpass', sans-serif;
  padding-top: 3rem;
  margin-bottom: -2rem;
  margin-left: 1.5rem;
}
