* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  background-color: #16c79a;
  height: 5rem;
}

.title {
  padding-top: 1.5rem;
  padding-left: 1rem;
}

h1 {
  margin: 0;
  color: white;
  font-size: 1.25rem;
  font-family: 'Chivo', sans-serif;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5rem auto;
}

.col-half {
  width: 40%;
}

input {
  width: 100%;
  border: #466bca 1px solid;
  border-radius: 0.25rem;
  height: 1.5rem;
  margin-top: 0.25rem;
}

select {
  width: 100%;
  border: #466bca 1px solid;
  border-radius: 0.25rem;
  height: 1.5rem;
  margin-top: 0.25rem;
}

label {
  font-family: 'Overpass', sans-serif;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.submit-button {
  background-color: #16c79a;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin-top: 5rem;
  border: none;
}

i {
  color: white;
}

.table-title {
  text-align: center;
  padding-top: 4rem;
  font-family: 'Overpass', sans-serif;
  font-size: 1.25rem;
}

table {
  border: 1px solid black;
  width: 85%;
  height: 260px;
  margin: auto;
  margin-top: 1rem;
}

thead {
  background-color: #16c79a;
}

th {
  border-bottom: 1px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Overpass', sans-serif;
}

.border-right {
  border-right: 1px solid black;
}

td {
  font-family: 'Overpass', sans-serif;
  text-align: center;
  width: 30%;
}

p {
  font-family: 'Overpass', sans-serif;
  margin-top: 1rem;
}
